<?xml version="1.0"?>
<gconf>
	<entry name="keyboard_properties" mtime="1429366236" type="string">
		<stringvalue>unity-control-center</stringvalue>
	</entry>
	<entry name="show_in_the_tray" mtime="1429366236" type="string">
		<stringvalue>Flag</stringvalue>
	</entry>
	<entry name="delay" mtime="1429366236" type="int" value="0"/>
	<entry name="rendering_engine" mtime="1429366236" type="string">
		<stringvalue>AppIndicator</stringvalue>
	</entry>
</gconf>
